---
title: News
layout: default
permalink: /news/
---

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">What's New
                <!--<small>Subheading</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">News</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			{% for post in site.posts offset: 0 limit: 4 %}
			<div class="row">
				<section class="col-md-8">
					<h2>
                    	<a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
                	</h2>
                	<p class="lead">
                    	by <a href="{{ site.prefix }}{{ page.author }}">{{ post.author }}</a>
                	</p>
                	<span class="post-date">
      					<i class="fa fa-clock-o"></i> Posted on {{ post.date | date_to_string }}
    				</span>
    				<hr>
					{% if post.featured %}
					<a href="{{ site.prefix }}{{ post.url }}" class="image full"><img src="/img/{{ post.featured }}" alt="" align="middle"></a>
                        <hr>
                    {% endif %}
					{{ post.excerpt }}
					<a class="btn btn-primary" href="{{ site.prefix }}{{ post.url }}" >Read More <i class="fa fa-angle-right"></i></a>
					<hr>
				</section>
			</div>
			{% endfor %}
		</div>
	</div>