---
layout: default
title: About
permalink: /about/
---

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    We investigate novel methods to integrate geoscientific data and knowledge in process simulations of subsurface flow
    and transport problems with a specific focus on inverse problems, data fusion, and the analysis and quantification
    of uncertainties. The group consists of Florian Wellmann as the Junior Research Group Leader, a postdoctoral fellow
    (Hui Wang) and two AICES fellows (Simin Huang and Rhea von Bülow). In 2015, we had furthermore six Master students
    in our group. In several projects, we analyze uncertainties in subsurface structures, their influence on process
    simulations, and methods of uncertainty reduction with additional data and models.
</div>
<div class="container">
    <h3>Here a list of current posts:</h3>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
</div>

<div class="container">
    <h3>List of publications (tentative):</h3>
    <ul>
{% for paper in site.data.papers %}
  <li>
  {{paper.author}}: {{paper.title}}
  </li>
{% endfor %}
</ul>


</div>

<div class="container">
    <div>
    </div>
</div>